body {
    background-image: url(image/blue-watercolor.jpg);
    background-repeat: repeat;   
}

h1 {
    font-family: cursive;
    font-size: 80px;
    color: rgb(0, 50, 150);
    text-align: center;
}
h2 {
    font-family: cursive;
    font-size: 60px;
    color: deeppink;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 30px;
    border: 1px solid rgb(50, 50, 177);
    padding: 10px;
    background: rgba(77, 0, 77,.6);
    color: rgb(225,225,225);
}

th, td {
    padding: 5px;
    font-family: verdana;
    border: 1px solid rgb(50, 50, 177);
    align-content: center;    
}

table {
    margin-right: auto;
    margin-left: auto;
    font-family: verdana;
    border: 1px solid rgb(50, 50, 177);
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    padding: 10px,10px;    
}

nav ul {
    list-style-type: none;
    padding: 5px 20px
       
}

nav li {
    display: inline;
    margin: auto;
}

nav li a {
    display: inline-block;
    color: greenyellow;
    text-align: center;
    padding: 5px 20px;
    font-family: fantasy;
    font-size: 40px;
    background-color: rgb(80,0,185);
    margin-right: 150px;
    margin-left: 150px;
    
}

nav li a:hover {
    background-color: #BA55D3;
    color: white;
    font-family: fantasy;
}

div {
    table-layout: auto;
}

img{
    display: block;
    width: 900px;
    height: 500px;
    margin: auto;
    padding: 10px,10px;

}

section {
    margin-left: 200px;
    margin-right: 200px;
}

 